.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E2D1;
    padding: 2rem;
  
    &-logo img {
      width: 200px;
      height: auto;
    }
  
    &-menu {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      flex-grow: 1;
  
      li {
        position: relative;
  
        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          &:hover {
            color: #007bff;
          }
        }
  
        &.dropdown {
          .dropdown-toggle {
            cursor: pointer;
          }
  
          .dropdown-menu {
            display: none;
            position: absolute;
            top: 150%; // Positionne le menu déroulant légèrement plus bas
            right: 0;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            padding: 0.5rem 0;
            list-style: none;
            min-width: 200px;
  
            &.visible {
              display: block; // Affiche le menu déroulant lorsqu'il est actif
            }
  
            li {
              a {
                padding: 0.5rem 1rem;
                display: block;
                color: #333;
                &:hover {
                  background-color: #007bff;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  