<nav class="navbar">
    <div class="navbar-logo">
      <img src="/assets/logoNavbar2.png" alt="Logo" />
    </div>
    <ul class="navbar-menu">
      <li><a>Accueil</a></li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('activities')">Découvrir nos activités</a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'activities'">
          <li><a>La psychomotricité</a></li>
          <li><a>La graphomotricité</a></li>
          <li><a>La relaxation</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('consultations')">Consultations</a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'consultations'">
          <li><a>Examens psychomoteurs</a></li>
          <li><a>Modalité de la séance</a></li>
          <li><a>Attente</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('practical-info')">Infos pratiques</a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'practical-info'">
          <li><a>Les aides financières</a></li>
          <li><a>Plan d'accès</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('about-us')">Qui sommes-nous ?</a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'about-us'">
          <li><a>Présentation</a></li>
          <li><a>Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  