<nav class="navbar">
    <div class="navbar-logo">
      <img src="/assets/logoNavbar2.png" alt="Logo" />
    </div>
    <ul class="navbar-menu">
      <li><a routerLink="/">Accueil</a></li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('activities')">
          Découvrir nos activités
          <i class="fas fa-chevron-down dropdown-icon"></i>
        </a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'activities'">
          <li><a routerLink="/activities" fragment="psychomotricite">Psychomotricité</a></li>
          <li><a routerLink="/activities" fragment="graphomotricite">Graphomotricité</a></li>
          <li><a routerLink="/activities" fragment="relaxation">Relaxation</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('consultations')">
          Consultations
          <i class="fas fa-chevron-down dropdown-icon"></i>
        </a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'consultations'">
          <li><a routerLink ="/consultations">Examens psychomoteurs</a></li>
          <li><a routerLink ="/consultations">Modalité de la séance</a></li>
          <li><a routerLink ="/consultations">Attente</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('practical-info')">
          Infos pratiques
          <i class="fas fa-chevron-down dropdown-icon"></i>
        </a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'practical-info'">
          <li><a routerLink = "/infos">Les aides financières</a></li>
          <li><a routerLink = "/infos">Plan d'accès</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleDropdown('about-us')">
          Qui sommes-nous ?
          <i class="fas fa-chevron-down dropdown-icon"></i>
        </a>
        <ul class="dropdown-menu" [class.visible]="activeDropdown === 'about-us'">
          <li><a routerLink = "/about">Présentation</a></li>
          <li><a routerLink = "/about">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  